
<div class="container">

	<h2>Your Teams: </h2>

	<% current_user.teams.each do |team| %>
		<h3><%= link_to(team.name, team_path(team)) %></h3>
	<% end %>

	<div style="display: flex; justify-content: center;">
		<h2>Operational Teams</h2>
	</div>

	<div class="row flex-column">

		<% @operational_teams.each do |team| %>
			<h3><%= team.name %></h3>
		<% end %>
	</div>

	<div style="display: flex; justify-content: center;">
		<h2>Regional Teams</h2>
	</div>

	<div class="row flex-column">

		<% @regional_teams.each do |team| %>
			<h3><%= team.name %></h3>
		<% end %>
	</div>
</div>

