
<div class="container">
	<div class="row">


		<div class="col-md">

	<h2 class="head">Your Teams: </h2>
<div class="list-group">
	<% current_user&.team_memberships.each do |team| %>
		<%= link_to(team.name, team_path(team), class: "list-group-item list-group-item-action team", style:"color: blue") %>
	<% end %>

<% if current_user.user_category.name === 'Admin' || current_user.user_category.name === 'Team Lead' %>
	<div class="add-team-button">
		<%= link_to 'Add a team', new_team_path, style: 'color: black' %>
	</div>
<% end %>
</div>
</div>

	<div class="col-md">
		<h3 class="head">Operational Teams</h3>
	<div class="list-group ">
		<% @operational_teams.each do |team| %>
			<div class="list-group-item team"> <%= team.name %> </div>
		<% end %>
	</div>
</div>

	<div class="col-md">
		<h2 class="head">Regional Teams</h2>
   <div class="list-group">
		<% @regional_teams.each do |team| %>
			<div class="list-group-item team"> <%= team.name %> </div>
		<% end %>
	</div>
	</div>
	</div>
	</div>
