<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <a href="http://www.forceofnaturealliance.ca/">Force of Nature</a> Mission Control, <%= @user.full_name %></h1>
    <h3>
      You are now a volunteer with Force of Nature and have access to the Force of Nature Mission Control system.
    </h3>
    <p>Please login in here with the password force of nature. You will be prompted to enter a new password. </p>
  </body>
</html>
