<div class="container-fluid">
  <h2>Admin Dashboard</h2>

  <div class="alert alert-info"> <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>"Messages here" 
  </div>

  <div class="row">
    <div class="col-lg">
      <%= link_to (admin_events_path), class: 'content-link' do%>
      <div class="card dash">
        <i class="fa fa-calendar-o fa-3x" aria-hidden="true"></i>
        <h3 class="dash-text"> Manage Events </h3>
      </div>
      <% end %>
      <div class="card details">
        <ul>
          <li>Event</li>
          <li>Event</li>
          <li>Event</li>
          <li>Event</li>
          <li>Event</li>
          <li>Event</li>

        </ul>
      </div>
      <a href="http://slack.com" class="content-link">
        <div class="card dash">
          <i class="fa fa-slack fa-3x" aria-hidden="true"></i>
          <h3> Slack </h3>
        </div>
     </div> <!-- end of column -->
   </a>

     <div class="col-lg">
       <div class="card dash">
         <i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
         <h3> Manage Briefings and Files </h3>
       </div>

       <div class="card dash">
         <i class="fa fa-bell fa-3x" aria-hidden="true"></i>
         <h3> Manage Emails and Reminders </h3>
       </div>

       <div class="card dash">
         <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i>
         <h3> Manage Messages </h3>
       </div>
     </div> <!-- end of column -->

    <div class="col-lg">
      <%= link_to (admin_signups_path), class: 'content-link' do%>
      <div class="card dash">
        <i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>
        <h3> Add/Approve New Users </h3>
            </div>
            <% end %>
            <div class="card details">
              <ul>
                <li>User</li>
                <li>User</li>
                <li>User</li>
              </ul>
            </div>
      <%= link_to (admin_people_path), class: 'content-link' do%>
      <div class="card dash">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <h3> Manage Personnel </h3>
      </div>
     <% end %>

      <%= link_to (admin_teams_path), class: 'content-link' do%>
      <div class="card dash">
        <i class="fa fa-users fa-3x" aria-hidden="true"></i>
        <h3> Manage Teams </h3>
      </div>
      <% end %>
    </div> <!-- end of column -->
 </div> <!-- end of container -->
