

<div class="panel" id="welcome">
  <h2 class="panel-text"> Join Our Force! </h2>
</div>

<div class="panel" id="fixed">
  <h2 class="panel-text"> Blah blah blah </h2>
</div>

<div class="panel" id="welcome">
  <h2 class="panel-text"> Join Our Force! </h2>
</div>

