

<div class="panel" id="welcome">

  <% if flash[:notice].present? %>
    <div class="alert onTop alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
   <%=flash[:notice]%>
 </div>
    <% end %> 

  <h2 class="panel-text"> Join Our Force! </h2>
</div>

<div class="panel" id="fixed">
  <h2 class="panel-text"> Blah blah blah </h2>
</div>

<div class="panel" id="welcome">
  <h2 class="panel-text"> Join Our Force! </h2>
</div>
