
<div class="container">
	<h1>All Events</h1>

	<div id="calendar"></div>

	<h4>Click on event name for details: </h4>
	
	<% @events.each do |event| %>
	  <div >
	    <%= link_to event.name, event_path(event) %>
	  </div>
	<% end %>
</div>
