<% if controller.controller_name == "welcome" && controller.action_name == "index" %>
  <div class="footer_up">
<% else %>
  <div class="footer">
<% end %>
    <div class="footer-social-icons">
    <p>©Force of Nature Alliance 2017</p>
        <ul class="social-icons mb-0">
            <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div>
  </div>
